* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: helvetica, arial, sans-serif;
  display: block;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
