header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .icon {
    padding: 10px;

    svg {
      margin-left: auto;
      display: block;
    }
  }

  nav {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    .background {
      // position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;

      .test {
        width: 100%;
        height: 100vh;
        background: rgb(76, 76, 76);
        background: -moz-radial-gradient(center, ellipse cover, rgba(76, 76, 76, 1) 0%, rgba(19, 19, 19, 1) 100%);
        background: -webkit-radial-gradient(center, ellipse cover, rgba(76, 76, 76, 1) 0%, rgba(19, 19, 19, 1) 100%);
        background: radial-gradient(ellipse at center, rgba(76, 76, 76, 1) 0%, rgba(19, 19, 19, 1) 100%);
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1);
      }
    }

    ul {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      list-style-type: none;

      li {
        padding: 2rem;

        a {
          color: white;
          display: block;
        }
      }
    }

    .lang {
      position: fixed;
      bottom: 0;
      z-index: 2;
      color: white;
      padding: 2rem;
    }
  }

  &.closed {
    height: 50px;

    nav {
      pointer-events: none;
    }
  }
}
